html {
  background: url("img/background.jpg") no-repeat center fixed;
  background-size: cover;
}

#top {
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: auto;
  border-radius: 2000px;
}

#middleChild {
  position: absolute;
  top: 80%;
  right: 70%;
  font-family: fantasy;
}

#wetDreamz {
  position: absolute;
  top: 80%;
  right: 59%;
  font-family: fantasy;
}

#middleChild:hover {
  background-color: red;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#wetDreamz:hover {
  background-color: red;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

button {
  padding: 10px;
  border-radius: 100px;
}

#outerCole {
  background-color: lightgray;
  width: 210px;
  height: 26px;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  left: 16%;
}

#innerCole {
  background-color: rgb(20, 194, 20);
  width: 200px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 11.2%;
  left: 2.5%;
}

#outerKanye {
  background-color: lightgray;
  width: 210px;
  height: 26px;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  left: 55%;
}

#innerKanye {
  background-color: red;
  width: 200px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 11.2%;
  left: 2.5%;
}
