html {
  background: url("img/background.jpg") no-repeat center fixed;
  background-size: cover;
}

#top {
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: auto;
  border-radius: 2000px;
}

#middleChild {
  position: absolute;
  top: 80%;
  right: 75%;
}

#wetDreamz {
  position: absolute;
  top: 80%;
  right: 60%;
}

button {
  padding: 10px;
  border-radius: 100px;
}
